.todoform {
  background-color: var(--BGColor2);
  border-radius: 8px;
  padding: var(--space1);
  width: 80%;
  max-width: var(--width);
  margin: var(--fs-2) auto 0;
  box-shadow: var(--shadow2);
  display: flex;
}

.todoinput {
  display: block;
  width: 100%;
  border: none;
  color: var(--textColor);
  font-size: var(--space1);
}

.todoinput:focus {
  outline: none;
}

.todobutton {
  display: inline-block;
  border: none;
  border-radius: 4px;
  background-color: var(--BGColor);
  padding: 0.5rem var(--space1);
  color: var(--BGColor2);
  cursor: pointer;
  font-family: sans-serif;
}
