.todolist {
  background-color: var(--BGColor2);
  border-radius: 8px;
  box-shadow: var(--shadow2);
  width: 80%;
  margin: var(--fs-2) auto;
  padding: var(--space2) var(--space1);
  max-width: var(--width);
  min-height: var(--space3);
}
