:root {
  /*Colors*/
  --BGColor: hsl(207, 61%, 30%);
  --BGColor2: hsl(0, 0%, 100%);
  --shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  --shadow2: 0 4px 6px rgba(0, 0, 0, 0.1);
  --textColor: hsl(179, 100%, 0%);
  --completedColor: hsl(184, 9%, 62%);

  /*Whitespace and Font Sizes*/
  --space1: 1rem;
  --space2: 0.5rem;
  --space3: 3rem;
  --fs-2: 2rem;
  --fs-12: 1.2rem;

  /*Width*/
  --width: 35rem;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  min-height: 100vh;
}
